<a target="_blank" rel="noopener noreferrer" href="./assets/SANZ_DT_2020.pdf" (click)="track('cv')">
    <img src="./assets/icon/cv.png" [alt]="'cv'"/>
</a>
<a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/salvador-sanz-21220126" (click)="track('linkedin')">
    <img class="color" src="./assets/icon/linkedin.png" [alt]="'linkedin'" />
</a>
<a target="_blank" rel="noopener noreferrer" href="https://github.com/salvasanzandres" (click)="track('github')">
    <img src="./assets/icon/github.png" [alt]="'github'" />
</a>
<a href="mailto:salva@web-salva.com" (click)="track('mailto')">
    <img src="./assets/icon/mailto.png" [alt]="'mailto'" />
</a>
<a target="_blank" rel="noopener noreferrer" href="tel:+33649864537" (click)="track('call')">
    <img class="color" src="./assets/icon/tel.png" [alt]="'tel'" />
</a>
