<div class="wrapper">
    <div class="no-element-for-scroll" [attr.id]="'me'" ></div>
    <div class="layer-abs" >
        <div class="rellax frame" data-rellax-speed="-1"></div>
    </div>
    <div class="layer-abs">
        <img class="rellax img" data-rellax-speed="2" src="./assets/img/me.jpg" [alt]="'salva'"  />

    </div>
    <div class="layer-abs">
        <img class="rellax pin" data-rellax-speed="-2" src="./assets/img/pin.png" [alt]="'pin'" />
    </div>
    <div class="layer-abs">
        <p class="rellax img-text" data-rellax-speed="2" data-aos="fade-up">
           Basé à PARIS <br />consultant amené à travailler dans des environnements digitaux et des contextes innovants.


        </p>
    </div>

    <div class="layer-abs rellax" data-rellax-speed="-2">
        <img class="logo-web" src="./assets/icon/web.png" [alt]="'web'" />
        <img class="logo-html" src="./assets/icon/html.png" [alt]="'html-logo'" />
    </div>
    <div class="layer-abs-left" data-aos="fade-up">
       <div class="frame">
           <ul>
               <li>
                   <h1>Techno</h1>
                   Angular, HTML 5, CSS, JS, Java spring, Node, Ionic, PHP, TS, React, Ruby on Rails, C++
               </li>
               <li> <h1>Lib</h1>
                   Bootstrap, Material, NGRX, RXJS, Prime Ng, Kendo Ui, Extjs, Polymer, jquery,
                   Akita, Tailwind CSS, ng-zorro, bulma CSS...
               </li>
               <li>
                   <h1>Tools</h1>
                   Ng cli,  NPM, Shell, Chrome Dev tools, Postman, SoapUi, Sqlyog, Apache, Redmine, Trello, Jira, Firebase,
                   GIT, SVN, Jenkins, Travis, Microsoft TFS, Sonar Qube, ELK, Linter, Ansible, Selenium, Netlify, Firebase,
                   Lighthouse, Matomo Analytics...
               </li>
           </ul>
       </div>
    </div>
    <div class="layer-abs">
        <img data-rellax-speed="1" class="rellax logo-angular" src="./assets/icon/angular.png"  [alt]="'ng-logo'"/>
    </div>
    <div class="layer-abs">
        <img data-rellax-speed="3" class="rellax logo-js" src="./assets/icon/js.png" [alt]="'js-logo'" />
    </div>
</div>


