<div class="main-section">
    <div class="header">
        <div class="logo-container">
            <app-menu-button></app-menu-button>
            <app-logo-animation></app-logo-animation>
        </div>
        <app-links></app-links>
    </div>
    <div class="description">
        <p> Passionné par le développement en environnement agile / craft.
            <br />12 ans d'experience, avec une forte expertise sur les
            architectures
            front.
            <br />
            Disponible actuellement pour nouvelle mission. </p>
        <h2> Salvador Sanz</h2>

    </div>
    <div class="scroll-container">
        <a href="#" [scrollTo]="'me'" class="button" (click)="track()" [title]="'scroll'"></a>
    </div>
</div>
